.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 30px;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 1173px;
  &.center--vertical {
    align-items: center;
  }
}

.col-2 {
 grid-column: span 2;
}

.col-3 {
 grid-column: span 3;
}

.col-4 {
 grid-column: span 4;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-10 {
  grid-column: span 10;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0;
  }

  .col-2,
  .col-3,
  .col-4,
  .col-6,
  .col-7,
  .col-8,
  .col-10 {
    grid-column: 1 / -1;
  }
}