@import '_fonts';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}


body {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	
}

h1 {
	font-size: 20px;
	font-weight: normal;
	padding: 0;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding-top: 5px;
	margin-bottom: 5px;
}

main{
	opacity: 0;
	/* padding: 0 0 15px 15px; */
	padding: 0 5px 0 5px;

}

.masterhead {
  display: flex;
  flex-direction: column;
}

.navbar {
	background-color: #EBEBEB;
	display: flex;
  	justify-content: center;
  	padding: 0;
}

.master{
	display: flex; 
	flex-direction: row ;
}

.sidebar {
	flex: 0 0 250px;
	border-right: 1px solid #EBEBEB;
	
	/*background-color: #EBEBEB; */
}

.filters {
	display: flex;
	flex-direction: column;
}

.semA {
	padding-left: 5px;
	padding-right: 5px;
}
.filtre {
	padding-bottom: 20px;
}
.btn {
	margin-bottom: 20px;
}
.master-content {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 0 0 10px;
}

.key-Figures {
	display: flex;
	justify-content: center;
}


.keyfigure {
	flex: 1 0 auto;

}

.inner {
	margin-bottom: 10px;
	padding-top: 10px;
	display: flex;
	align-items: end;
}

.inner .title{
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 20px;

}

.num {
	/**color: #000; **/
	font-size: 30px;
	line-height: 30px;
	margin-right: 5px;
}


.selection {
	font-size: 14px;
	text-align: left;
	widht: 150px;
}

.clarification {
	font-size: 14px;
	text-align: justify;
	padding-bottom: 10px;
	font-style: italic;
}

.rightSide {
	display: flex;
	flex-direction: column;
}

#map{
	height: 300px;
}

.district{
	grid-column: 1 / -1;
}


.chart-container {
    border: 1px solid #e6e7e8;
    padding: 5px 0 10px;
    margin-top: 5px;
}

footer {
	background-color: #353535;
	color: #FFF;
	padding: 20px 0 10px;
}

.charts-districts {
	display: flex;
	gap: 10px;
}

.charts-districts h2 {
	margin-bottom: 0;
}

#distCharts{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.pop {
	justify-content: center;
}

content {
	text-align: center;
	font-size: 40px;
	line-height: 40px;
}

@media only screen and (min-width: 768px) {

}


@media only screen and (max-width: 767px) {
	.master, .master-content {
		flex-direction: column;
	}

	.master-content {
		padding: 0 ;
		display: flex;
	}
	.sidebar {
		flex: 1 1 auto;
	}
	#distCharts{
		grid-column: 1 / -1;
		grid-template-columns: 1fr;
	}
}


