@import '_fonts';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}


body {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 15px;
	margin: 0 ;
	padding: 0;
}

h2 {
	font-size: 16px;
	font-weight: normal;
	padding: 0;
}

main{
	opacity: 0;
}

.masterhead {
  display: flex;
  flex-direction: column;
}

.navbar {
	background-color: #EBEBEB;
	display: flex;
  	justify-content: center;
}

.master{
	display: flex; 
	flex-direction: row ;
}

.sidebar {
	flex: 0 0 250px;
	border-right: 1px solid #EBEBEB;
	padding: 0 0 15px;
}

.master-content {
	padding: 0 15px;
}

footer {
	background-color: #353535;
	color: #FFF;
	padding: 20px 0 10px;
}

@media only screen and (max-width: 768px) {
	.master {
		flex-direction: column;
	}

	.master-content {
		padding: 0 ;
	}
	.sidebar {
		flex: 1 1 auto;
	}

}


